<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA station</title>
    <style>
        body{
            background-image: url("mbta.jpg");
        }
    </style>
</head>
<body>
    <h1>Hello!</h1>
    <h3>Please enter your location to find the nearest MBTA station</h3>
    <form>
        <label for="location">Enter your Location:</label><br>
        <input type="type" id="fname" name="fname"><br>
        <input type="submit" id="fname" name="fname"><br>
      </form>
</body>
</html>
